<section class="contact" *ngIf="langService.translations$ | async as t">

    <div class="container">

        <div class="section-heading">
            <h2 class="section-title">{{ t.contactTitle }}</h2>
        </div>

        <div class="contact-grid">

            <!-- Left Section -->
            <div class="contact-info">

                <div class="social-links">
                    <a href="https://www.linkedin.com/in/harshad-wagh-26473521a/" target="_blank"><i class="fab fa-linkedin"></i> {{ t.linkedin }}</a>
                    <a href="https://www.instagram.com/_harshad_wagh7372/" target="_blank"><i class="fab fa-instagram"></i> {{ t.instagram }}</a>
                    <a href="https://www.facebook.com/profile.php?id=100013189427859" target="_blank"><i class="fab fa-facebook"></i> {{ t.facebook }}</a>
                    <a href="https://github.com/harshadwagh-ux" target="_blank"><i class="fab fa-github"></i> {{ t.github }}</a>
                </div>

                <div class="info-box">
                    <p><strong>{{ t.locationLabel }}</strong> NTPS Colony, Eklahare, Nashik, Maharashtra, India - 422105</p>
                    <p><strong>{{ t.phoneLabel }}</strong> +91 - 7057094091</p>
                    <p><strong>{{ t.workingHoursLabel }}</strong> Mon to Fri 9 AM to 6 PM</p>
                    <p><strong>{{ t.emailLabel }}</strong> harshadwagh535@gmail.com</p>
                    <p class="highlight">{{ t.sendQuery }}</p>
                </div>

            </div>

            <!-- Right Section -->
            <div class="contact-form">

        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">

  <input formControlName="fullName" [placeholder]="t.fullName" />

  @if (contactForm.controls.fullName.touched && contactForm.controls.fullName.invalid) {
    <small class="error">{{ t.fullNameRequired }}</small>
  }

  <input formControlName="email" [placeholder]="t.emailPlaceholder" />

  @if (contactForm.controls.email.touched && contactForm.controls.email.invalid) {
    <small class="error">{{ t.validEmailRequired }}</small>
  }

  <input formControlName="mobile" [placeholder]="t.mobileNumber" />

  @if (contactForm.controls.mobile.touched && contactForm.controls.mobile.invalid) {
    <small class="error">{{ t.validMobileRequired }}</small>
  }

  <textarea formControlName="message" rows="4" [placeholder]="t.message"></textarea>

  @if (contactForm.controls.message.touched && contactForm.controls.message.invalid) {
    <small class="error">{{ t.messageMinLength }}</small>
  }

  <button [disabled]="contactForm.invalid">{{ t.sendButton }}</button>

</form>

            </div>

        </div>

    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        {{ t.copyright }} |
        {{ t.madeWith }} ❤ {{ t.madeBy }}
    </div>

</section>