<section class="contact">

    <div class="container">

        <h2 class="section-title">Contact Me</h2>

        <div class="contact-grid">

            <!-- Left Section -->
            <div class="contact-info">

                <div class="social-links">
                    <a href="https://www.linkedin.com/in/harshad-wagh-26473521a/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    <a href="https://www.instagram.com/_harshad_wagh7372/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                    <a href="https://www.facebook.com/profile.php?id=100013189427859" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
                    <a href="https://github.com/harshadwagh-ux" target="_blank"><i class="fab fa-github"></i> GitHub</a>
                </div>

                <div class="info-box">
                    <p><strong>Location:</strong> NTPS Colony, Eklahare, Nashik, Maharashtra, India - 422105</p>
                    <p><strong>Phone:</strong> +91 - 7057094091</p>
                    <p><strong>Working Hours:</strong> Mon to Fri 9 AM to 6 PM</p>
                    <p><strong>Email:</strong> harshadwagh535@gmail.com</p>
                    <p class="highlight">Send me your query anytime!</p>
                </div>

            </div>

            <!-- Right Section -->
            <div class="contact-form">

        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">

  <input formControlName="fullName" placeholder="Full Name" />

  @if (contactForm.controls.fullName.touched && contactForm.controls.fullName.invalid) {
    <small class="error">Full name required</small>
  }

  <input formControlName="email" placeholder="Email" />

  @if (contactForm.controls.email.touched && contactForm.controls.email.invalid) {
    <small class="error">Valid email required</small>
  }

  <input formControlName="mobile" placeholder="Mobile Number" />

  @if (contactForm.controls.mobile.touched && contactForm.controls.mobile.invalid) {
    <small class="error">Valid mobile required</small>
  }

  <textarea formControlName="message" rows="4" placeholder="Message"></textarea>

  @if (contactForm.controls.message.touched && contactForm.controls.message.invalid) {
    <small class="error">Minimum 10 characters</small>
  }

  <button [disabled]="contactForm.invalid">Send</button>

</form>

            </div>

        </div>

    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        Copyright ©2026 All rights reserved |
        This template is made with ❤ by <strong>Harshad Wagh</strong>
    </div>

</section>