<section class="skills" *ngIf="langService.translations$ | async as t">
  <div class="container">

    <div class="section-heading">
      <h2 class="section-title">{{ t.skillsTitle }}</h2>
    </div>

    <div class="category" *ngFor="let category of skillCategories">

      <h3 class="category-title">{{ category.title }}</h3>

      <div class="skills-grid">

        <div class="skill-card" *ngFor="let skill of category.skills">
          <span>{{ skill.name }}</span>
        </div>

      </div>

    </div>

  </div>
</section>